<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995823640732-o4tk93eic6coe0rib1cc6mk41slmiqn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995823640732-o4tk93eic6coe0rib1cc6mk41slmiqn6</string>
	<key>API_KEY</key>
	<string>AIzaSyCwMzrZUM1nWHbqfBxw1rt4NAnJRUzSrCg</string>
	<key>GCM_SENDER_ID</key>
	<string>995823640732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tuicoding.project</string>
	<key>PROJECT_ID</key>
	<string>spoonmaster-ae0b0</string>
	<key>STORAGE_BUCKET</key>
	<string>spoonmaster-ae0b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:995823640732:ios:8343996e2fd6aa2b02cd59</string>
</dict>
</plist>
